body{
  background-color:#E7E7E9 ;
  margin-bottom: 0px;
}

/*-------Inicio--Layout--Direto--------*/
section#primeiro{
  position:absolute;
  height:737px;
  width:12%;
  top:0;
  left: 0;
  background-color: #193048; 
}

section#primeiro>h1{
  margin-top:0px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  font-family:'Cinzel','Ubuntu',arial,sans-serif;
  font-size:1.5em;
  text-align: center;
  color:white;
  
  background-color: black;
  border-top: 14px solid black;
}

section#primeiro>div>ul{
  position: relative;
  margin-left:4px;
}

section#primeiro>div>ul>li{
  padding-top:4px;
  /*! padding-left:5px; */
  padding-bottom:4px;
  margin-bottom: 30px;
  list-style: none;
  font-family:'Raleway',arial,sans-serif;
  color:white;
  cursor: pointer;
  font-size: 15px;
}

section#primeiro>div>ul>li:hover{
 
  background-color: #82868F;
}

/*----------------FIM do layout-direiro-section-----------------*/

/*---------------Inicio--do--Cabeçalho----------------*/
header{
  height:58px;
  width:89.1%;
  margin-top: -8px;
  margin-left:153px;
  background-color: #00B0FF;
}

header>form{
  position: relative;
  height:0 ;
  width: 556px;
  padding-top:14px;
  margin-left:20%;
  float:left;
}

header>form>input{
   margin-right:-6px;
  
}

header>form>input[placeholder]{
  width:92%;
  padding-left:10px;
  font-family: 'Raleway','Ubuntu',arial,sans-serif;
  font-size: 25px;
  color:#555;
  border:1px solid #ccc;
  border-right:0;
}

header>form>button{
  border:1px solid #ccc;
  border-left:1px solid white;
  background-color:white;
  cursor:pointer;
  float:right;
}


header>div{
  position: relative;
  height: 100%;
  width:15%;
  margin-right:30px ;
  float:right;
}

header>div>img{
  height: 51px;
  border:1px solid white;
  border-radius: 30px;
  background-color:white;
  margin-top: 2px;
}

header>div>span{
  margin-top:20px;
  font-family: 'Raleway',arial,sans-serif;
  font-size:18px;
  cursor:default;
  float:right;
}

header>div>span:hover{
  border-bottom:1px solid white;
}

/*--------------------FIM---Layout----------*/


/*-------Principal--Conteúdo----------------*/


section#segundo{
  height:50px;
  width:80%;
  margin-left:15%;  
  background-color: white;
}

main{
  position: relative;
  width:89%;
  margin-left:11.6%;
  height: 516px;
}


.sub_info{
  height:90px;
  width:47%;
  margin-bottom:1.5%;
  background-color:white;
  float: left;
  margin-left: 15px;
  cursor: pointer;
}

.sub_info:hover{
    box-shadow: 1px 1px 5px 1px black;
}

.sub_info>img{
  background-color:#324A5E;
  border:5px solid #324A5E;
}

.sub_info>span{
  margin-top:20px;
  margin-right:30%;
  font-family:'Ubuntu',arial,sans-serif;
  font-size:40px;
  color:#848484;
  float:right;
  
}

article{
  position: relative;
  height:318px;
  width:95.4%;
  background-color:white;
  float: left;
  margin-left: 15px;
}

article>#titulo_grafico{
  position: relative;
  height:50px;
  width:100%;
  background-color: #BEBEBE;
}

article>#titulo_grafico>span{
  margin-left:15px;
  text-transform:uppercase;
  font-family:'Raleway',arial,sans-serif;
  font-size:40px;
  color: white;
}

article>#corpo_grafico{
  position: relative;
  height:79%;
  width:100%;
}

article>#corpo_grafico>#linha{
  position: relative;
}


article>#corpo_grafico>#linha>span{
  margin-bottom:20px;
  font-family:'Ubuntu',arial,sans-serif;
  font-size:18px;
  float:left;
}

article>#corpo_grafico>#linha>span+span{
  margin-left:55px;
}

article>#corpo_grafico>#linha>div{
  width: 100%;
  margin-top:10px;
  margin-left:30px;
  margin-bottom:0px;
  border-bottom:1px solid #848484;
  float:right;
}

article>#corpo_grafico>#linha>div:first-child{
  margin-top:30px;
}




article>#corpo_grafico>#dados_tabela>div{
  position: absolute;
  height:238px;
  width: 42px;
  background-color:#4D90FE ;
}


article>#corpo_grafico>#dados_tabela>#jan{
  height:150px;
  left:7%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>div>span{
  display: none;
  text-align: center; 
  font-family: 'Ubuntu',arial,sans-serif;
  font-size:18px;
  color:#444;
  cursor:pointer;
}


article>#corpo_grafico>#dados_tabela>#jan:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#fev{
  height:200px;
  left:14.5%;
  bottom: 5%;
}
article>#corpo_grafico>#dados_tabela>#fev:hover>span{display:block;}

article>#corpo_grafico>#dados_tabela>#mar{
  height:200px;
  left:22.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#mar:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#abr{
  height:200px;
  left:31.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#abr:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#mai{
  height:200px;
  left:38.7%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#mai:hover>span{display:block;}



article>#corpo_grafico>#dados_tabela>#jun{
  height:200px;
  left:47.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#jun:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#jul{
  height:200px;
  left:55%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#jul:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#ago{
  height:200px;
  left:62.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#ago:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#set{
  height:200px;
  left:70.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#set:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#out{
  height:200px;
  left:78.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#out:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#nov{
  height:200px;
  left:86.5%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#nov:hover>span{display:block;}


article>#corpo_grafico>#dados_tabela>#dez{
  height:200px;
  left:94%;
  bottom: 5%;
}

article>#corpo_grafico>#dados_tabela>#dez:hover>span{display:block;}

/*------------FIM-PRINCIPAL------------------*/




/*-----------------Fornecedores--Corpo----acréscimo-----------*/

#atualizar_fornecedores{
  position:absolute;
  height:89px;
  width:95.5%;
  bottom:0;
  background-color:white;
  margin-left: 15px;
  cursor: pointer;
}

#atualizar_fornecedores:hover{
  box-shadow: 1px 1px 5px 1px black; 
}


#atualizar_fornecedores>span{
  margin-left:28%;
  font-family:'Ubuntu',arial,sans-serif;
  font-size:70px;
  color:#848484;
}





/*-------------------Fim--Fornecedores--Corpo-------------------*/



/*-------------Inicio--fiananças--corpo---------------*/

#funcionario-corpo{
  height:100%;
  width:100%;
  background-color:white;
}

#funcionario-corpo>#titulo{
  height:25px;
  width:100%;
  padding-top:10px;
  border-bottom:1px solid #56b349;
  background-color:#f3f8fe;
}

#funcionario-corpo>#titulo>span{
  border-top:10px solid #f3f8fe;
  border-left:5px solid #f3f8fe;
  border-right:5px solid #f3f8fe;
  border-bottom:1px solid #f3f8fe;
  font-family:'Raleway',arial,sans-serif;
  font-size:20px;
  background-color:#f3f8fe;
  color:#7090ab;
  text-transform: uppercase;
  cursor: pointer;
}

#funcionario-corpo>#titulo>span{
  margin-left: 41px;
  margin-right: 0px 
}

#funcionario-corpo>#titulo>span:first-child{
  margin-left:25px;
  border-top:11px solid #56b349;
  border-left:1px solid #56b349;
  border-right: 4px solid #56b349;
  border-bottom:1px solid #56b349;
  background-color: #56b349;
  border-left:10px solid #56b349;
  color:white;
}

#funcionario-corpo>#titulo>span:first-child:hover{
  border-top:11px solid #56b349;
  border-left:1px solid #56b349;
  border-right: 4px solid #56b349;
  border-bottom:1px solid #56b349;
  background-color: #56b349;
  border-left:10px solid #56b349;
  color:white;
}

#funcionario-corpo>#titulo>span:hover{
  border-top:11px solid #e3e8eE;
  border-left:5px solid #e3e8eE;
  border-right:6px solid #e3e8eE ;
  border-bottom:0px;
  background-color:#e3e8eE;
}

#funcionario-corpo>button{
  margin-top:14px;
  margin-left:15px;
  border:1px solid #56b349;
  background-color:#56b349;
  font-size:14px;
  color:white;
  cursor: pointer;
  padding: 5px;
}

#funcionario-corpo>#sup_intro{
  margin-top:1em;
  margin-left:1em;
  margin-bottom:10px;
  font-family: 'Ubuntu',Helvetica;
  font-size:2.8em;
  color:#56b349;
}

#funcionario-corpo>#sub_intro{
  margin-left:50px;
  font-family:Helvetica;
  font-size:1.1em;
  color:#7090ab;
}

#tabela{
  height:35px;
  width:847px;
  /*! background-color:#E3EAF3; */
  padding-top: 7px;
  margin-top: 8px;
  /*! border: 1px solid #E3E3; */
}

#tabela>table>thead>tr>th{
  font-family: 'Raleway',arial,sans-sefif;
  font-size:15px;
  color: #7090ab;
  cursor: pointer;
  width: 99px;
  border: 1px solid #7090ab;
  border-spacing: 0;
  border-left: 0;
  padding: 5px;
  background-color: #E3EAF3;
}

/*-----------Fim--finanças--corpo--------------------*/

